{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
{% if products %}
<h2>Product List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Description</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{product.product_name }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.stock }}</td>
            {% if request.user.is_staff %}
                <td><button type="submit" class="btn btn-danger"><a href="/delproduct/{{product.id}}">Delete</a></button></td>
            {% else %}
                <td><button type="submit" class="btn btn-success"><a href="/add_order/{{product.id}}">Buy Now</a></button></td>
                <td><a href="/addcart_plist/{{product.id}}"><button type="submit" class="btn btn-success">Add Cart</button></a></td>
            {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<!-- <img src="https://cdni.iconscout.com/illustration/premium/thumb/product-is-empty-illustration-download-in-svg-png-gif-file-formats--no-records-list-record-emply-data-user-interface-pack-design-development-illustrations-6430770.png?f=webp" alt=""> -->
<div class="text-center">
    <h3 class="mb-4">Sorry, no products found!</h3>
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/sorry-item-not-found-illustration-download-in-svg-png-gif-file-formats--available-product-tokostore-pack-e-commerce-shopping-illustrations-2809510.png?f=webp" alt="No products found" class="img-fluid" style="max-width: 400px;">
    <p class="mt-3">Please check back later.</p>
</div>{% endif %}
{% endblock %}
